NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://raw.githubusercontent.com/KiFilterFiberContext/psi-secure-admin-unlock/refs/heads/main/"
           xmlns="https://raw.githubusercontent.com/KiFilterFiberContext/psi-secure-admin-unlock/refs/heads/main/"
           elementFormDefault="qualified">

  <!-- Root -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- Name -->
              <xs:element name="Name" type="xs:string" />

              <!-- Phone -->
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" />

              <!-- Address -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string" />
                    <xs:element name="Street" type="xs:string" />
                    <xs:element name="City"   type="xs:string" />
                    <xs:element name="State"  type="xs:string" />
                    <xs:element name="Zip"    type="xs:string" />
                  </xs:sequence>

                  <!-- NearestAirport -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>

                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <!-- Rating -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
